
<div class="container">
    <div class="service">
    
        <h1>service</h1>
    
        <form>
            
            <div>
                <label for="name">SERVICE NAME</label><br>
                <input type="text"  id="name" name="name"><br>
            </div>
            
            <div>
                <label for="servicedescription">SERVICE DESCRIPTION</label><br>
                <input type="text"  id="servicedescription" name="servicedescription" ><br>
            </div>
    
            <div>
                <label for="usertype">User Type</label><br>
                <select id="usertype" name="usertype" >
                    <option value="customer">Customer</option>
                    <option value="serviceprovider">Service Provider</option>
                </select>
            </div>
    <br>
            <div>
                <!-- <input type="submit" value="Login">             -->
                <button routerLink="/serviceprovider">Login</button>
                <br><br>
    
            </div>
    
            
        </form>
    </div>
    </div>