<div class="serviceprovider">
    <h1>serviceprovider</h1>
    <form>

        <div>
            <label for="name"><b>NAME</b></label><br>
            <input type="text" name="name" id="name" placeholder="enter name">
        </div>
        <br>


        <div>
            <label for="description"><b>description</b></label><br>
            <input type="text" name="description" id="description" placeholder="enter description">
        </div>
        <br>
        <div>
            <label for="mobile"><b>MOBILE</b></label><br>
            <input type="number" name="mobile" id="mobile" placeholder="enter number" required size="10">
        </div><br>
        <div>
            <label for="email"><b>EMAIL</b></label><br>
            <input type="email" name="email" id="email" placeholder="enter email" required>
        </div><br>
        <div>
            <label for="address"><b>address</b></label><br>
            <input type="text" name="address" id="address" placeholder="enter address">
        </div><br>
        <div>
            <label for="location"><b>location</b></label><br>
            <input type="text" name="location" id="location" placeholder="enter location">
        </div><br>

        <div>
            <label for="city"><b>city</b></label><br>
            <input type="text" name="city" id="city" placeholder="enter city">
        </div><br>
        <div>
            <label for="zip code"><b>zipcode</b></label><br>
            <input type="number" name="zip code" id="zip code" placeholder="enter zip code">
        </div><br>
        <div>
            <label for="website"><b>website</b></label><br>
            <input type="text" name="website" id="website" placeholder="enter website">
        </div><br>
<div>
    <button type="submit">Signup</button>
</div>


        <div>
            <table>
                <tr>
                    <th>NAME</th>
                    <th>description</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>address</th>
                    <th>location</th>
                    <th>city</th>
                    <th>zipcode</th>
                    <th>website</th>
                </tr>
                <tr>
                    <td></td>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </table>
        </div>
        <br>
        
        <br>
        <!-- <div>
            <div *ngIf="msg.length>0">
                {{msg}}
            </div>
        </div> -->
    </form>
</div>



