<div class="content">
    <h1 class="Hone">Home Service Experts in India</h1>
    <div class="main">
        <div class="container mt-4">
            <div class="row">
                <div class="card-body">
                    <h5><a
                            href="http://www.customercaresupportcenter.co.in/?gclid=CjwKCAjw6MKXBhA5EiwANWLODEfwMSBZfqd5zNyH8FOt9CNb-b32HYJxfZk7hTmKwqtvQVhjWaDflhoCvXMQAvD_BwE"><img
                                src="../assets/app-service.jpg" height="150px"></a></h5>
                    <h5>appliance service</h5>
                </div>
                <div class="card-body">
                    <h5><a
                            href="https://www.thetopteamlawncare.com/?gclid=Cj0KCQjwxb2XBhDBARIsAOjDZ36yet2D0M0WRZqUriuPS8XoTqNHXVpWSTGTTWSXj8-VKzrOkQNBlqIaApV3EALw_wcB"><img
                                src="../assets/landscape.webp" height="150px"></a>

                    </h5>
                    <h5>landscaping</h5>
                </div>
                <div class="card-body">
                    <h5><a href="https://aapkapainter.com/"><img src="../assets/homepaint.webp" height="150px"></a></h5>
                    <h5>home painting</h5>
                </div>
                <div class="card-body">
                    <h5><a
                            href="https://www.homepro247.in/pest-control-service-hyderabad/?gclid=Cj0KCQjwxb2XBhDBARIsAOjDZ34qja1L49c9MnqkVpIXk2-HY-zPAnxEYByTFaIoQyeN8TqulbGdO3MaAtqVEALw_wcB"><img
                                src="../assets/pestcontrol.png" height="150px">
                        </a></h5>
                    <h5>pest control</h5>
                </div>
                <div class="card-body">
                    <h5><a href="https://www.rentokil-pestcontrolindia.com/disinfection-service/"><img
                                src="../assets/disinfection.jpg" height="150px"></a>
                    </h5>
                    <h5>Disinfection</h5>
                </div>


            </div>

        </div>
    </div>
</div>
<div>
    <h1 style="text-align:center">More Services</h1>
</div>

<div class="more">
   
    <div>


    <div class="container mt-4">
    <div class="row">
        <div class="card-body">  
            <h5><a href="https://www.urbancompany.com/hyderabad-mens-grooming"><img src="../assets/salon-man.jpg" alt="" height="150px" width="150px"></a></h5>
            <h5>men hair salon</h5>
        </div>
        <div class="card-body">  
            <h5><a href="https://www.urbancompany.com/delhi-ncr-spa-at-home"><img src="../assets/spa.jpg" alt="" height="150px" width="150px"></a></h5>
            <h5>men women spa</h5>
        </div>
        
        <div class="card-body">  
            <h5><a href="https://www.urbancompany.com/hyderabad-salon-at-home"><img src="../assets/salon-women.jpg" alt="" height="150px" width="150px"></a></h5>
            <h5>women hair salon</h5>
        </div>
    </div>
        
        
        
        
        
        


    </div>
   </div>
</div>